* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

body {
  overflow-x: hidden;
  font-family: "Times New Roman";
}

/* Navbar Section */
.navbar {
  background: #49497e;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 20px;
  z-index: 1;
}

.active {
  text-decoration: underline;
  font-weight: bold;
}

.nav-link{
  margin: 0 30px;
}

/* Form */
.row{
  margin-top: 150px;
}

.Contact-title{
  color: #49497e;
  font-size: 3rem;
  margin-bottom: 20px;
  text-align: center;
}

.Contact-line{
  width: 150px;
  height: 4px;
  background: #fc036b;
  border-color: #fc036b;
  margin: 10px auto;
  border-radius: 5px;
}

.submit-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #E1306C;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
  font-weight: bold;
  border-color: #C72059;
  text-align: center;
}

.submit-button:hover {
  background-color: #C72059;
  border-color: #E1306C;
}

.Form{
  border-style: solid;
  border-width: 5px;
  border-color: #7C7C7C;
  padding-top: 100px;
}

.container{
  text-align: center;
}

input{
  margin-bottom: 10px;
}

span{
  color: #fc036b;
  font-size: 18px;
  margin-left: 5px;
}

label{
  color: #49497e;
  font-size: 2rem;
  margin-left: 10px;
}

#email-error{
  color:red;
}

/* Footer */
.footer {
  width: 100%;
  min-height: 90px;
  padding: 20px 80px;
  margin-top: 10px;
  background: #484872;
  text-align: center;
}
.footer p {
  color: whitesmoke;
  margin: 10px auto;
  font-size: 20px;
}

.socialMedia{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 15vh;
  transition: 0.5s;
}

.sci{
  position: relative;
  display: flex;
}

.sci li{
  list-style: none;
}

.sci li a{
  position: relative;
  display: inline-block;
  width: 75px;
  height: 75px;
  background:#ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#333;
  border-radius: 10px;
  text-decoration: none;
  margin:auto 20px;
  font-size: 2em;
  transform-style: preserve-3d;
  perspective:500px;
  box-shadow: 0 25px 35px rgba(0,0,0,0.1);
}

.sci li a:hover.facebook{
  background:#1877f2;
}
.sci li a:hover.twitter{
  background:#0099ff;
}
.sci li a:hover.youtube{
  background:#ff0000;
}
.sci li a:hover.instagram{
  background:#e4405f;
}

.sci li a .fa{
  transition: 0.25s;
  pointer-events: none;
}
.sci li a:hover .fa{
  color:#fff;
  transform: scale(1.5) translateZ(50px);
}

.js-tilt-glare{
  border-radius: 10px;
}